Repository FIA22-Chat/chitchat, pull requests merged in 2024-06, with the labels that each got.

#45 Update README
  README.md
Labels: documentation

#47 Remove flyway-maven-plugin
  common/pom.xml
Labels: maven, common

#44 add Filter
  .idea/misc.xml
  common/pom.xml
  common/src/main/java/io/github/chitchat/common/filter/ProfanityFilter.java
  common/src/main/java/io/github/chitchat/common/filter/SpamFilter.java
  pom.xml
  server/src/main/java/io/github/chitchat/server/Main.java
  server/src/main/resources/io/github/chitchat/server/list/defaultProfanityList
Labels: maven, server, common

#43 Implement serverside db
  server/src/main/java/io/github/chitchat/server/Main.java
  server/src/main/java/io/github/chitchat/server/database/dao/ServerUserSessionDAO.java
  server/src/main/java/io/github/chitchat/server/database/dao/mappers/ServerUserSessionRowMapper.java
  server/src/main/java/io/github/chitchat/server/database/service/ServerUserSessionService.java
  server/src/main/resources/db/migration/V1__init_schema_server.sql
Labels: server

#55 Add IP Ratelimiting
  common/src/main/java/io/github/chitchat/common/filter/SpamFilter.java
  common/src/main/java/io/github/chitchat/common/ratelimit/IPRateLimit.java
Labels: common

#34 Authentication
  .idea/inspectionProfiles/Project_Default.xml
  server/pom.xml
  server/src/main/java/io/github/chitchat/server/auth/Authentication.java
  server/src/main/java/io/github/chitchat/server/auth/exceptions/AuthenticationFailedException.java
  server/src/main/java/io/github/chitchat/server/auth/exceptions/TemporarilyBlockedException.java
  server/src/test/java/auth/AuthTest.java
  server/src/test/java/auth/Common.java
Labels: maven, server

#58 Add ProfilePicture
  client/src/main/java/io/github/chitchat/client/view/pages/login/LoginController.java
  client/src/main/resources/io/github/chitchat/client/pages/login/login.fxml
Labels: client, gui

#59 Fix i18n
  .idea/vcs.xml
  client/src/main/resources/io/github/chitchat/client/bundles/language_de.properties
Labels: client
